.login {
    background-color: aqua;
    height: 100vh;
    display: flex;
    align-items: center;
}

.login-form-container {
    width: 100%;
}

.login-dummy {
    height: 10px;
    width: 35%;
    float: left;
}

.login-form {
    height: 350px;
    width: 30%;
    background-color: rgb(57, 208, 185);
    border-radius: 5px;
    box-shadow: 0px 0px 10px 1px rgb(66, 66, 66);
    float: left;
}

.login-heading {
    font-size: 30px;
    font-weight: 680;
    text-align: center;
}

.login-emailLabel {
    width: 100%;
    margin-top: 20px;
    font-size: 18px;
    font-weight: 680;
}
.login-emailInput {
    height: 35px;
    width: 100%;
    margin-top: 10px;
    border: 1.5px solid black;
    border-radius: 5px;
    outline: none;
}

.login-passwordLabel {
    width: 100%;
    margin-top: 20px;
    font-size: 18px;
    font-weight: 680;
}
.login-passwordInput {
    height: 35px;
    width: 100%;
    margin-top: 10px;
    border: 1.5px solid black;
    border-radius: 5px;
    outline: none;
}

.login-btn {
    height: 35px;
    width: 100%;
    margin-top: 30px;
    border: 1.5px solid black;
    border-radius: 5px;
}